body {
  background-color: rgb(180, 180, 180);
}

p {
  font-size: 18px;
}

header {
  background-color: black;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border-radius: 10px;
}

header > h1 {
  color: white;
  font-size: 50px;
  margin: 10px 20px;
}

nav {
  display: flex;
  justify-content: right;
  align-items: center;
  margin-right: 20px;
}

nav * {
  color: rgb(180, 180, 180);
  font-size: 20px;
  margin: 10px 5px;
  padding: 10px 5px;
  text-decoration: none;
  text-align: center;
}

nav > p {
  font-size: 30px;
  color: white;
  cursor: default;
  padding-bottom: 2px;
  border-bottom-style: solid;
  border-width: 2px;
  border-radius: 4px;
}

nav > a {
  transition: font-size .25s;
}

nav > a:hover {
  font-size: 30px;
}

.intro {
  display: flex;
  justify-content: space-evenly;
}

img {
  margin-top: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px 0px black;
  transition: all .75s;
}

img.intro {
  width: min(33vw, 400px);
  margin-left: 20px;
}

img.intro:hover {
  width: min(40vw, calc(90vh / 1.82));
}

img.interests {
  width: 70vw;
}

img.interests:hover {
  width: 90vw;
}

img.project {
  width: 40vw;
  margin-left: 20px;
}

img.project:hover {
  width: 50vw;
}

footer {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  font-family: cursive;
}

main.interests > section {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  
}

main.interests > h2 {
  margin-bottom: 2px;
  border-top-style: solid;
  padding-top: 20px;
}

main > h1 {
  margin-bottom: 50px;
}

main.portfolio {
  display: flex;
  flex-direction: column;
}

main.portfolio > h1 {
  margin-bottom: 50px;
}

a.project > p {
  text-align: center;
  margin-top: 0px;
}

a.project2 > p {
  margin-top: 0px;
}

a.project {
  display: flex;
  flex-direction: column;
}

.project2 > img {
  margin-left: 0px;
  margin-right: 20px;
}

.project > section {
  display: flex;
  flex-direction: row;
}

section.project {
  margin-bottom: 50px;
  border-top-style: solid;
}

main.contact > h1 {
  border-bottom-style: solid;
  padding-bottom: 50px;
  margin-bottom: 30px;
}

main.contact > form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

main.contact > form > input, textarea {
  margin-top: 2px;
  margin-bottom: 30px;
}

main.contact > form > textarea {
  width: 40vw;
  height: 10vw;
}

main.contact > form > section > label {
  font-size: 20px;
}

#name {
  width: 200px;
}

#email {
  width: 300px;
}

#submit {
  font-size: 20px;
  width: 150px;
  height: 50px;
}

.star {
  color: red;
}

#thanks {
  text-align: center;
  position: relative;
  top: 20vh;
}


/** For mobile */

@media screen and (max-width: 800px) {

  /* Layouts: */

  .intro {
    display: flex;
    flex-direction: column-reverse;
  }

  /* Images */

  img.intro {
    width: 70vw;
    height: 70vw;
    object-position: 0px -50px;
    object-fit: cover;
    margin-left: auto;
    margin-right: auto;
  }
  
  img.intro:hover {
    width: 90vw;
    object-position: 0px 0px;
    height: auto;
  }

  section.project > section {
    display: flex;
    flex-direction: column-reverse;
  }

  section.project > section.project2 {
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  img.project {
    width: 70vw;
    margin-left: auto;
    margin-right: auto;
  }
  
  img.project:hover {
    width: 90vw;
  }

}